@model DataLayoutResultDto;
@{
    var productCategory = Model.ProductCategories;
    var contact = Model.CompanyContact;
}

@* Header Sticky *@
<header class="header-2 sticky-header">
    <div class="mega-menu-wrapper">
        <div class="header-main">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-xl-9">
                        <div class="header-left">
                            <div class="logo">
                                <a href="index.html" class="header-logo">
                                    <img src="~/images/logo/black-logo.svg" alt="logo-img">
                                </a>
                            </div>
                            <div class="mean__menu-wrapper">
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li>
                                                <a href="index.html">
                                                    Trang chủ
                                                </a>
                                            </li>
                                            <li>
                                                <a href="index.html">
                                                    Giới thiệu
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop.html">
                                                    Sản phẩm
                                                    <i class="fas fa-angle-down"></i>
                                                </a>
                                                <ul class="submenu">
                                                    @foreach (var item in productCategory)
                                                    {
                                                        <li><a href="@item.Slug">@item.Title</a></li>
                                                    }
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="news.html">
                                                    Liên hệ
                                                </a>
                                            </li>
                                            <li>
                                                <a href="news.html">
                                                    Bài viết
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xl-3">
                        <div class="header-right">
                            <div class="category-oneadjust gap-6 d-flex align-items-center">
                                <div class="icon">
                                    <i class="fa-sharp fa-solid fa-grid-2"></i>
                                </div>
                                <select name="cate" class="category">
                                    <option value="1">
                                        Danh mục
                                    </option>
                                    @foreach (var item in productCategory)
                                    {
                                        <option value="@item.Slug">
                                            @item.Title
                                        </option>
                                    }
                                </select>
                                <form action="#" class="search-toggle-box d-md-block">
                                    <div class="input-area">
                                        <input type="text" placeholder="Tìm kiếm...">
                                        <button class="cmn-btn">
                                            <i class="far fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="menu-cart">
                                <div class="header-humbager ml-30">
                                    <a class="sidebar__toggle" href="javascript:void(0)">
                                        <div class="bar-icon-2">
                                            <img src="~/images/icon/icon-13.svg" alt="img">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</header>

@* Header Main *@
<div class="header-2-section">
    <div class="container">
        <div class="header-2-wrapper">
            <div class="header-top-logo">
                <a href="index.html">
                    <img src="~/images/logo/black-logo.svg" alt="img">
                </a>
            </div>
            <div class="header-2-right">

                <div class="category-oneadjust gap-6 d-flex align-items-center">
                    <div class="bd-header__category-nav p-relative">
                        <div class="bd-category__click style-2">
                            <span><i class="icon-icon-15"></i> Danh mục </span>
                        </div>
                        <div class="category__items-2" style="display: none;">
                            <div class="category-item">
                                <nav>
                                    <ul>
                                        @foreach (var item in productCategory)
                                        {
                                            <li>
                                                <a href="@item.Slug">
                                                    <span> @item.Title</span>
                                                    <span> @item.TotalProduct</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <form action="#" class="search-toggle-box d-md-block">
                        <div class="input-area">
                            <input type="text" placeholder="Tìm kiếm...">
                            <button class="cmn-btn">
                                <i class="far fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="author-icon">
                    <div class="icon">
                        <img src="~/images/icon/icon-23.svg" alt="icon">
                    </div>
                    <div class="content">
                        <span>Liên hệ ngay</span>
                        <h5>
                            <a href="tel:@contact.PrimaryPhone.Replace(" ", "")">@contact.PrimaryPhone</a>
                        </h5>
                    </div>
                </div>
                <div class="menu-cart">

                    <div class="header-humbager ml-30">
                        <a class="sidebar__toggle" href="javascript:void(0)">
                            <div class="bar-icon-2">
                                <img src="~/images/icon/icon-13.svg" alt="img">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>